@model Mtg.RaymondDev.Models.Sets.SetsVM

<h2>@Model.Name</h2>

<div class="row">
    <div class="col-lg-2">
        Filter by color:
    </div>
    <div class="col-lg-1">
        @Html.ActionLink("Black", "SetDetails", new { id = Model.Id, filterColor = "black", orderByRarity = true })
    </div>
    <div class="col-lg-1">
        @Html.ActionLink("White", "SetDetails", new { id = Model.Id, filterColor = "white", orderByRarity = true })
    </div>
    <div class="col-lg-1">
        @Html.ActionLink("Blue", "SetDetails", new { id = Model.Id, filterColor = "blue", orderByRarity = true })
    </div>
    <div class="col-lg-1">
        @Html.ActionLink("Green", "SetDetails", new { id = Model.Id, filterColor = "green", orderByRarity = true })
    </div>
    <div class="col-lg-1">
        @Html.ActionLink("Red", "SetDetails", new { id = Model.Id, filterColor = "red", orderByRarity = true })
    </div>
    <div class="col-lg-1">
        @Html.ActionLink("Colorless", "SetDetails", new { id = Model.Id, filterColor = "neutral", orderByRarity = true })
    </div>
    <div class="col-lg-2">
        @Html.ActionLink("Multi colored", "SetDetails", new { id = Model.Id, filterColor = "multi", orderByRarity = true })
    </div>
</div>
<div class="row">&nbsp;</div>

@using (Html.BeginForm("AddCardsToCollection", "Collection"))
{
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Name)

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Manacost</th>
            <th>Type</th>
            <th>Rarity</th>
            <th>Add to collection</th>
        </tr>
        @Html.EditorFor(m => m.Cards)
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
}

<style>
    td {
        padding-right: 20px;
    }
</style>