@model Mtg.RaymondDev.Models.Collection.CollectionVM

@{
    ViewBag.Title = "Collection";
}

<h2>Collection</h2>

<div style="display: inline-block">
    <div class="border-bottom">
        <p>
            @Model.CardCount cards in collection<br/>
            @Model.UniqueCardCount unique cards in collection
        </p>
        <table>
            <tr>
                <th>Set</th>
                <th>Amount</th>
                <th>Unique amount</th>
                <th>Total worth</th>
            </tr>
            @foreach (var stat in Model.Stats)
            {
                <tr>
                    <td>@stat.Set</td>
                    <td>@stat.Amount</td>
                    <td>@stat.UniqueAmount</td>
                    <td>@stat.TotalWorth</td>
            </tr>
            }
        </table>
    </div>
    <div class="row">
        &nbsp;
    </div>
</div>

<style>
    td, th {
        padding-right: 20px;
    }

    .border-bottom {
        border: 1px solid black;
        padding: 5px;
        display: inline-block;
    }
</style>